<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iflytek.cyber.resolver.notification">

    <application>

        <meta-data
            android:name="com.iflytek.cyber.resolver.NotificationResolver"
            android:value="ResolverModule:Notifications" />

    </application>

</manifest>
